*{
  margin: 0px;
  padding: 0px;
}
body {
    font-family: 'Work Sans';
    font-size: 22px;
}
.screen {
    /* background: linear-gradient(90deg, #b0d9e6, #b0d9e6); */
    position: relative;
    height: 100%;
    width: 100%;
    /* box-shadow: 0px 0px 24px #5c5696; */
    margin-top: 30px;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 127px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #0000005e;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #f4cb14, #e9c834);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #f4cb1400;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}


.login {
  padding: 30px 30px 0px 30px;
  /* padding-top: 156px; */
}

.login__field {
  padding: 10px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 20px;
  color: #000000;
}

.login__input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 68%;
  transition: 0.2s;
  font-size: 14px;
  font-family: 'Work Sans';
  color: #000;
}
.login__input::placeholder{
  color: #000;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {

  text-align: center;
  color: #fff;
}


.login-content{
  width: 100%;
  position: fixed;
  height: 100vh;
  background: #eeeeee0d;
  z-index: 2;
}

.svgset {
  filter: drop-shadow(0 0 85px rgba(0, 0, 0, 0.3));
  height: 110px;
  padding: 0px;
}
.svgset path {
  cursor: pointer;
  -webkit-animation: blob 2s infinite forwards;
  animation: blob 40s infinite forwards;
  transform-origin: 50% 50%;
}

.svgset text {
  font-size: 45px;
  font-weight: bold;
  font-family: 'work sans';
}

@-webkit-keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    transform: rotate(5deg);
  }
}

@keyframes blob {
  25% {
    d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
    transform: rotate(-5deg);
  }
  50% {
    d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
  }
  75% {
    d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
    transform: rotate(5deg);
  }
}
.h3-heading{
  font-size: 18px;
  font-family: 'Work Sans';
  margin-top: 30px;
  font-weight: 700;
}
.paragraph{
  font-size: 14px;
  font-family: 'Work Sans';
}

@keyframes moving {
  0% {
    right: 120%;
    animation-timing-function: ease-out;
  }
  35% {
    right: 30%;
  }
  36%,
  56% {
    right: 29.8%;
    animation-timing-function: ease-in;
  }
  100% {
    right: -80em;
  }
}

@keyframes shaking {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes goWheel {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  36%,
  56% {
    transform: rotate(350deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate(910deg);
  }
}

@keyframes stableWheel {
  from {
    transform: translateY(-0.9em);
  }
  to {
    transform: translateY(-0.8em);
  }
}

@keyframes rearLight {
  0%,
  27% {
    background: maroon;
    box-shadow: none;
  }
  28%,
  56% {
    background: red;
    box-shadow: -0.2em -0.2em 20px red;
  }
  57%,
  100% {
    background: maroon;
    box-shadow: none;
  }
}
/* Traffic Sign Frames */
@keyframes red {
  0%,
  20% {
    background: #444;
    box-shadow: none;
  }
  21%,
  52% {
    background: red;
    box-shadow: -0.2em 0 20px red;
  }
  53%,
  100% {
    background: #444;
    box-shadow: none;
  }
}

@keyframes yellow {
  0%,
  20% {
    background: orange;
    box-shadow: -0.2em 0 20px orange;
  }
  21%,
  89% {
    background: #444;
    box-shadow: none;
  }
  90%,
  100% {
    background: orange;
    box-shadow: -0.2em 0 20px orange;
  }
}

@keyframes green {
  0%,
  52% {
    background: #444;
    box-shadow: none;
  }
  53%,
  91% {
    background: green;
    box-shadow: -0.2em 0 20px green;
  }
  92%,
  100% {
    background: #444;
    box-shadow: none;
  }
}

/* Car */

.car {
  animation: moving 10s linear -2s infinite,
    shaking 0.2s linear infinite alternate;
}

.wheel {
  animation: stableWheel 0.2s linear infinite alternate;
}
.st, .vintage-wheels{
  animation: goWheel 10s linear -2s infinite;
  transform-box:fill-box;
  transform-origin: 53px;
}

.rearLight {
  animation: rearLight 10s linear -2s infinite;
}

/* Traffic Sign */

.red {
  animation: red 10s linear -2s infinite;
}

.yellow {
  animation: yellow 10s linear -2s infinite;
}

.green {
  animation: green 10s linear -2s infinite;
}

/* --Scene-- */
body {
  background: lightblue;
  height: 30em;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  body {
    font-size: 70%;
  }
}

.wall:after {
  content: "";
  position: absolute;
  width: 700px;
  bottom: 2.5em;
  left: 40px;
  color: maroon;
  font-weight: bold;
  font-size: 2em;
  font-family: "Nosifer", cursive;
  transform: rotate(-4deg);
  letter-spacing: 0.1em;
}

.wall:before {
  /* content: "";
  width: 100%;
  height: 2.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ccc; */
}
.basket {
  width: 4.5em;
  height: 7em;
  position: absolute;
  right: 20%;
  top: 6.5em;
  border: solid #888;
  border-width: 0.7em 0.7em 0;
  border-radius: 50% 50% 0 0 / 40% 40% 0 0;
}
.basket:after {
  content: "";
  position: absolute;
  top: 30%;
  width: 100%;
  height: 0.5em;
  background: #888;
}
.basket:before {
  content: " KEEP ADEN CLEAN";
  position: absolute;
  width: 80%;
  padding-top: 2em;
  height: 4.5em;
  top: 15%;
  right: 0;
  left: 0;
  margin: auto;
  background: #444;
  z-index: 3;
  border-radius: 50% / 1em;
  box-shadow: inset 0 -4.8em 0 chocolate;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
  color: #f0f0f0;
  text-shadow: 1px 1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444,
    -1px -1px 0 #444;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}
/* Car */

.car {
  position: absolute;
  top: 14em;
  right: 30%;
}

.cbody {
  width: 21em;
  height: 4em;
  position: relative;
  background: darkorange;
  border-radius: 2em 2em 0 0;
}

/* Doors and windows */

.mainframe {
  width: 50%;
  height: 8.4em;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  transform: translateY(-4.4em);
  background: #222;
  background: linear-gradient(
    135deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(56, 56, 56, 1) 27%,
    rgba(13, 13, 13, 1) 38%,
    rgba(1, 1, 1, 1) 57%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 94%,
    rgba(27, 27, 27, 1) 100%
  );
  /* From Color Zilla */
  border: 0.3em solid darkorange;
  border-radius: 1em;
  border-top-right-radius: 4.5em;
  border-top-left-radius: 2em;
}

.mainframe:before,
.mainframe:after {
  content: "";
  position: absolute;
  top: 42.4%;
  right: 0;
  bottom: -0.2em;
  left: 0;
  background: darkorange;
  border-radius: 0 10px 1em 1em;
  border: 0.1em solid #444;
  border-top-width: 0;
}

.mainframe:after {
  top: 0;
  right: 48.5%;
  bottom: -0.2em;
  left: 48.5%;
  border-radius: 0;
  border-bottom-color: darkorange;
}

.mainframe .hand {
  width: 38.5%;
  height: 0.3em;
  position: absolute;
  top: 55%;
  right: 30%;
  margin: auto;
  border-width: 0 2em;
  border-style: solid;
  border-color: #444;
  border-radius: 0 0 1em 1em;
}
.mainframe .mirror {
  width: 0.5em;
  height: 0.5em;
  background: silver;
  border-radius: 0.3em;
  position: absolute;
  top: 38%;
  right: 0.2em;
}
.mainframe .mirror:after {
  content: "";
  width: 1.8em;
  height: 1.1em;
  position: absolute;
  right: 0.3em;
  bottom: 0.2em;
  background: silver;
  border-radius: 0.5em 0.5em 0.2em 0.5em;
}
/* Wheels cover */

.wheelCover {
  width: 6em;
  height: 5em;
  position: absolute;
  border-radius: 6em 6em 0 0;
  overflow: hidden;
  bottom: -3em;
  box-shadow: 0 -0.5em 0 silver;
}

.lc {
  /* Left cover */
  left: 1em;
}

.rc {
  right: 1em;
}

.wheelCover:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2em;
  background: #333;
}

/* Wheels */

.wh {
  width: 6em;
  height: 6em;
  position: absolute;
  border-radius: 3em 3em 0 0;
  overflow: hidden;
  bottom: -4em;
  transform: translate3d(0, 0, 0);
  transform-style: flat;
  /* Fix for webkit based browsers https://goo.gl/VuBe5k */
}

.lw {
  left: 1em;
}

.rw {
  right: 1em;
}

.wheel {
  transform: translateY(-0.8em);
}

.wheel,
.wheel:before,
.wheel:after {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background: #111;
}

.wheel:before {
  content: "";
  width: 30%;
  height: 30%;
  background: #ccc;
}

.wheel:after {
  content: "";
  color: white;
  text-align: center;
  line-height: 1.5em;
  width: 15%;
  height: 15%;
  background: #555;
}

.st,
.st:after,
.st:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 70%;
  border-right: 1px solid #333;
  border-left: 1px solid #555;
  z-index: -1;
}

.st:before {
  height: 90%;
  transform: rotate(-120deg);
}

.st:after {
  height: 90%;
  transform: rotate(120deg);
}

.lw .st {
  transform: rotate(-50deg);
}

/* Iron line */

.line {
  width: 8em;
  height: 0.4em;
  position: absolute;
  top: 3.9em;
  right: 0;
  left: 0;
  margin: auto;
  background: silver;
  border-radius: 0 0 0.5em 0.5em;
  z-index: 2;
}

.line:after,
.line:before {
  content: "";
  width: 2em;
  height: 100%;
  position: absolute;
  background: silver;
  left: -7.2em;
  border-radius: 1em 0 1em 1em;
}

.line:before {
  left: auto;
  right: -7.2em;
  border-radius: 0 1em 1em 1em;
}

/* Front and rear lights */

.frontLight {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0;
  background: yellow;
  border-radius: 0 1em 0 1em;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
  overflow: hidden;
  transform: rotate(0);
}

.rearLight {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  background: maroon;
  border-radius: 1.8em 0;
  border: solid #444;
  border-width: 0 1px 1px 0;
}

/* Trunk and engine door */

.engine {
  width: 3.7em;
  height: 0.5em;
  border: solid #444;
  border-width: 0 0 1px 1px;
  position: absolute;
  right: 1.5em;
  border-bottom-left-radius: 1em;
}

.petrol {
  width: 1em;
  height: 1em;
  border: 1px solid #444;
  position: absolute;
  top: 0.8em;
  left: 1.5em;
  border-radius: 8px;
}

.petrol:after {
  content: "";
  width: 0.3em;
  height: 0.3em;
  background: #444;
  position: absolute;
  left: 5px;
  bottom: 0.2em;
  border-radius: 50%;
}

/*  Road  */

.path {
  width: 100%;
  height: 0.8em;
  background: #ccc;
  background: linear-gradient( 90deg, rgba(0, 2, 34, 1) 0%, rgba(0, 2, 34, 1) 50%, rgba(247, 240, 29, 1) 51%, rgba(247, 240, 29, 1) 100% );
  background-size: 8em;
  background-repeat: repeate-x;
  background-position: 99%;
  border-bottom: 0.4em solid #333;
  position: absolute;
  top: 30em;
}

.lp:before, /* the lower gray pavement */
.up:before {
  content: "";
  width: 100%;
  height: 50em;
  background: #ccc;
  position: absolute;
  top: 1.1em;
  z-index: -1;
}

.up {
  /* Upper Path */
  top: 19em;
  height: 0.9em;
  border-bottom: 0;
  border-top: 0em solid #333;
  background-position: 98%;
}

.up:before {
  /* Will be the road */
  top: 0em;
  height: 15em;
  background: #222;
  background: radial-gradient( ellipse at center, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 22%, rgba(71, 71, 71, 1) 32%, rgba(60, 60, 60, 1) 38%, rgba(34, 34, 34, 1) 49%, rgba(51, 51, 51, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(60, 60, 60, 1) 91%, rgba(53, 53, 53, 1) 100% );
  background-size: 3px 3px;
}

.up:after {
  /* Will be the white small lines */
  content: "";
  width: 83%;
  height: 0.3em;
  position: absolute;
  top: 5.6em;
  left: 0;
  transform: skewX(10deg);
  background: #fefefe;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 79%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100% );
  background-size: 5em;
  background-position: 0%;
}

.lp:after {
  /*  Will be the white long line  */
  content: "";
  width: 0.8em;
  height: 19em;
  position: absolute;
  top: -11em;
  right: 11%;
  background: #fefefe;
  z-index: -1;
  transform: skewX(5deg);
}

/* Traffic Sign */

.traffic-sign {
  width: 0.9em;
  height: 23em;
  position: absolute;
  top: 9em;
  right: 10%;
  background: #777;
  border-right: 0.2em solid #555;
  border-radius: 1em 1em 0 0;
}

.traffic-sign:before {
  content: "";
  width: 4em;
  height: 4em;
  position: absolute;
  bottom: -1.8em;
  left: -1.4em;
  z-index: -1;
  background: #aaa;
  border-radius: 1em;
  box-shadow: 0 12px 0 #888;
}

.sign {
  width: 0.8em;
  height: 6.4em;
  position: absolute;
  top: 2.5em;
  left: -0.3em;
  border: 0.4em solid #555;
  border-right-width: 0.9em;
  border-left: 0;
  border-radius: 0.5em;
  background: #777;
  z-index: 999;
}

.sign div {
  width: 0.6em;
  height: 1.5em;
  position: absolute;
  border-radius: 50%;
  left: -0.2em;
}

.sign div:after {
  content: "";
  position: absolute;
  z-index: -12;
  top: 0;
  right: -0.3em;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: #666;
}
.sign div:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 0.2em;
  background: #666;
  border-top-left-radius: 100%;
}
.red {
  top: 0.5em;
  background: red;
}

.yellow {
  top: 2.5em;
  background: orange;
}

.green {
  top: 4.5em;
  background: darkgreen;
}



.carousel-indicators {
  justify-content: left;
}
.carousel-caption {
  right: 0px;
  left: 0px;
}

.carousel-caption h5 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 7px;
  color: #000000;
}
.carousel-caption p {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #000000;
}

.carousel-indicators {
  margin-left: 0px;
}

.carousel-indicators [data-bs-target] {
  background-color: #000000;
}
.cloud {
  background: url(cloud.png);
  width: 650px;
  height: 220px;
  position: absolute;
  top: -25px;
  -moz-animation: cloud 45s linear infinite;
  -webkit-animation: cloud 45s linear infinite;
}
@-moz-keyframes cloud {
  0% {
      left: 100%;
  }

  100% {
      left: -40%;
  }
}

@-webkit-keyframes cloud {
  0% {
      left: 100%;
  }

  100% {
      left: -40%;
  }
}

.cloud2 {
  background: url(cloud.png);
  width: 650px;
  height: 220px;
  position: absolute;
  left: -50%;
  top: 25px;
  -moz-animation: cloud 45s linear 22s infinite;
  -webkit-animation: cloud 45s linear 22s infinite;
}
@-moz-keyframes cloud {
  0% {
      left: 100%;
  }

  100% {
      left: -40%;
  }
}

@-webkit-keyframes cloud {
  0% {
      left: 100%;
  }

  100% {
      left: -40%;
  }
}

/* .vintage-wheels{
  animation: rotate 1.4s linear infinite;
  -webkit-animation: rotate 1.4s linear infinite;
  -moz-animation: rotate 1.4s linear infinite;
  transform-box:fill-box;
  transform-origin: 55px;

    } */
    /* @keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
  }

  @-webkit-keyframes rotate {
  to {
    -webkit-transform: rotateZ(360deg);
  }
  }

  @-moz-keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
  } */